* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

header {
    background-color: #77c850;
    margin: 0.5rem;
}

.pokename {
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.headerlist {
    list-style: none;
    background-color: #77c850;
    display: flex;
    flex-direction: row;
}

#pokenumber {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 90%;
}

.test .pokenumber {

    color: white;
    height: 1.5rem;
    width: 3.5rem;
    margin: 0.1rem 25rem;
    padding: 0.25 0.6rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.headerlist .type {
    color: white;
    height: 1.5rem;
    width: 3.5rem;
    margin: 0.25rem 0.5rem;
    padding: 0.25 0.6rem;
    text-transform: capitalize;
    background-color: #77c850;
    filter: brightness(1.15);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.img {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: 80px;
}



.content {
    background-color: white;
    margin-top: -2rem;
    margin: 0;
}

.information {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 80px;
}

ol {
    margin: 0;
}
.about {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    list-style: none;
    align-items: center;
    justify-items: center;
    
}

